$font: 'Verdana', sans-serif;
$color-primary: #090979;
$color-bg-login: #041825;
$color-bg-reg: #171865;
$font-family-grill: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

//different background form colors 
%displayColumn{
  display:flex;
  flex-direction: column;
}
 
* {
padding: 0;
margin: 0;
}

html {
font-size: 62.5%;
}

html body {
box-sizing: border-box;
font-family: "Verdana", sans-serif;
}

//bg and text colors 
.register-bg-color{
  background-color: $color-bg-reg;
}
.register-bg-container{
  background-color: #fff;
}
.register-heading-color{
  color: $color-primary;
}

.login-bg-color{
  background-color: $color-bg-login;
  color:white;

  
}
.login-heading-color{
  color: #fff;
}

//some media queries about height with some doubts
@media only screen and (min-height: 0px) and (max-height: 400px) {
    .register__container {
      max-width: 100%!important;
    }
    .wrapper-svg-heading{
      display: flex;
    }
    .register__container__box--svg{
      width: 35px !important;
    
    }
    input[type="text"],
    input[type="email"],
    input[type="password"]{
      max-width: 500px !important;
      margin: .5rem 0!important;
    }
    input[type="submit"]{
      height: 4rem !important;
      margin: .5rem 0!important;
      
    }
  }
  @media only screen and  (min-height: 401px) and (max-height: 550px) {
    .register__container {
      max-width: 100%!important;
    }
    .register__container__box--heading{
      display: flex;
    }
    .register__container__box--svg{
      width: 50px !important;
    
    }
    input[type="text"],
    input[type="email"],
    input[type="password"]{
      max-width: 500px !important;
      margin: 1.2rem!important;
    }
    input[type="submit"]{
      height: 4.2rem !important;
      margin: 1.2rem 0!important;
      width: 400px !important;
    }
  }
.wrapper__container__box, .form__styles {
    display: flex;
    flex-direction: column;
    p{
        font-size: 1.3rem;
        a{
            text-decoration: none;
            color: crimson;
        }
    }
  }

 //register form
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }
  
  .wrapper__container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 41.4rem;
    max-height: 81.2rem;
    width: 100%;
    height: 94vh;
    align-items: center;
    border-radius: 2.5rem;
    -webkit-box-shadow: #020101 -0.1rem 0.2rem 1rem;
            box-shadow: #020101 -0.1rem 0.2rem 1rem;
  }
  
  .wrapper__container__box {
    justify-content: space-evenly;
    align-items: center;
    border: 1px #ccc 1px;
    height: 100%;
    border-radius: 2.5rem;
  }
  
  .wrapper-svg-heading--registersvg {
    width: 300px;
    height: 60px;
  }
  
  .wrapper-svg-heading--registersvg #movement1, .wrapper-svg-heading--registersvg #movement2 {
    -webkit-animation: loading-spinner 3s linear infinite alternate;
            animation: loading-spinner 3s linear infinite alternate;
  }
  
  @-webkit-keyframes loading-spinner {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    25% {
      -webkit-transform: translateY(-2px);
              transform: translateY(-2px);
    }
    100% {
      -webkit-transform: translateY(-10px) translateX(0px) rotateZ(20deg);
              transform: translateY(-10px) translateX(0px) rotateZ(20deg);
    }
  }
  
  @keyframes loading-spinner {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    25% {
      -webkit-transform: translateY(-2px);
              transform: translateY(-2px);
    }
    100% {
      -webkit-transform: translateY(-10px) translateX(0px) rotateZ(20deg);
              transform: translateY(-10px) translateX(0px) rotateZ(20deg);
    }
  }
  //login form
  .wrapper-svg-heading .forms-heading {
    margin-top: 2rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 200;
  }
  
  .form__styles {
    width: 400px;
    p{
        text-align: center;
        font-size:1.2rem;
        a{
            text-decoration: none;
            color: crimson;
        }
    }
  }
  
  

  .form__styles{
 
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        margin: 2rem 2rem;
        padding-bottom: 1rem;
        border: none;
        align-self: center;
        border-bottom: 1px solid #ccc;
        max-width: 300px;
        width: 100%;
        font-size: 1.5rem;
        letter-spacing: .1em;

        &:focus{
            outline: none;
            transform: translateY(0.2rem);
            border-bottom: 1px solid #3f3fd3;
            transition: .2s ease-in;
        }
    }
      .checkbox__box {

            display: flex;
            padding-left: 5rem;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            margin: 1rem 0;
            width: 190px;
        }
  }
  .login_input:-webkit-autofill {
        -webkit-text-fill-color: rgb(255, 255, 255);
         box-shadow: 0 0 0px 1000px $color-bg-login inset;
      
  }

  .display-span{
    text-align: center;
    font-size: 1.4rem;
}
  
  .form__styles input[type="submit"] {
    margin: 1rem 2rem;
    color: #fff;
    width: 300px;
    height: 5rem;
    border-radius: 1rem;
    cursor: pointer;
    border: none;
    letter-spacing: .1rem;
    box-shadow: #020101 -0.1rem 0.2rem 0.3rem;
    font-size: 1.5rem;
    align-self: center;
    background: #443579;
    background: -webkit-gradient(linear, left top, right top, from(#443579), color-stop(50%, #090979), to(#160886));
    background: linear-gradient(90deg, #443579 0%, #090979 50%, #160886 100%);
    
  }
  
  .form__styles input[type="submit"]:hover {
   
    transform: translateY(0.2em);
    -webkit-transition: linear .2s;
    transition: linear .2s;
    letter-spacing: .2rem;
    font-size: 1.7rem;
    width: 305px;
  }
  
  .login__svg__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    height: 135px;
    background-color: #3f51b570;
    border-radius: 50%;
  }
  
  .login__svg__container__two {
 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border: #4758b4 15px solid;
    border-radius: 50%;
    background-color: #271f7acc;
    opacity: 5.0;
  }
  
  .login_svg {
    fill: #fff;
    height: 40px;
  }


 //tasks file

.wrapper_allpage{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;

    &__topBar{
        display:flex;
        align-items: center;
        justify-content: center;
        padding: 1.1rem;
        width: 100%;
        border:1px black solid;
        background: rgb(9,0,159);
        background: linear-gradient(90deg, rgba(9,0,159,1) 0%, rgba(9,19,121,1) 13%, rgba(92,0,138,1) 100%);
        
        .topBar__container{
          display:flex;
          align-items: center;
          width: 100rem;

        .topBar-heading{
          position: relative;
          display: flex;
          align-items: center;
          flex: 1;
          flex-shrink: 0;
          padding-left: 3rem;
        }
          h1, h2{
          color:#fff;
          display:inline-block;
          font-size: 3.5rem;
          font-weight: lighter;
          letter-spacing: .1rem;
          font-family: $font-family-grill;
          
        }
        .searchIcon{
          height: 3rem;
          margin-left: .7rem;
          cursor: pointer;
          fill: #fff;
        } 
        .searchField{
         
          margin-left: .2em;
          border:none;
          border-bottom: 1px #ccc solid;
          background-color: transparent;
          color: #fff;
          height: 3rem;
          
          &:focus{
            outline: none;
            border-bottom: 1px #cf76ff solid;
           
          }
         
        }  
        .list-group{
          background-color: white;
          position: absolute;
          top: 3.5rem;
          left: 15rem;
          border: rgb(212, 212, 212) solid 1px;
          ul{
            width: 20rem;
            li{
              list-style: none;
              cursor: pointer;
              padding:  1rem 0;
              &:hover {
                background-color: $color-bg-reg;
              }
              &:hover  a{
                color:#fff;
              }
              
              a{
                position: relative;
                text-decoration: none;
                font-size: 1.6rem;
                padding-left: 1.5em;
                color: #0075f5;
                &::before{
                  content: "";
                  background-image: url('../images/tick.png');
                  position: absolute;
                  height: 1.6rem;
                  width: 1.6rem;
                  top:.3rem;
                  left:.5rem;
                
                }

              }
            }
          }
        }
        .logout__box{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-right: 2rem;
            flex:1;
            flex-shrink: 0;
            a{
                color:#fff;
                font-size: 1.6rem;
                text-decoration: none;
            }
        }
      }
       
    }
   
    &__displayTasks{
        display: flex;
        justify-content: center;
        max-width:100%;
        width: 100%;
        overflow: hidden;

        .display__container{
            display:flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
            overflow: hidden;

            &--heading{

                display:flex;
                margin-top: 1rem;
                padding-bottom: .5rem;

                h3{
                    font-size: 2rem;
                    font-weight: 200;
                    color: $color-primary;
                    flex:1;
                    margin-right: 1rem;
                }
                #create_icon{
                    height: 30px;
                    cursor: pointer;
                    flex:1;
                }
            }
            &--tasks{
                display:flex;
                flex-direction: column;
                width: 100%;

                &-box{

                    display: flex;
                    justify-content: center;
                    padding: 1rem;

                    .display__info{
                        display: flex;
                        width: 70rem;
                        max-width: 100%;
                        padding: .9rem 1rem;
                        box-shadow:  .2rem .2rem 0.4rem #090915;
                        &__task{
                          flex: 1;
                          display:flex;
                          flex-direction: column;
                          *{
                            margin: 1rem 0;
                            font-size: 1.4rem;
                          }
                          .task-info{
                            font-weight: bold;
                            margin: 0;
                          }
                          input{
                            padding: 1rem 0em 1em .7em;
                          }
                          .descArea{
                            resize: none;
                            font-size: 2rem;
                            padding-top: .2em;
                          }
    
                        }
                        
                        .box__task--buttons{
                          width: 40rem;
                          text-align: end;

                          input[type='submit']{
                              width: 10rem;
                              font-size: 1.6rem;
                              outline:none;
                              border: none;
                              padding:1rem;
                              cursor: pointer;
                              border-radius: .2rem;
                          }
                          .updateBtn{
                            background-color: rgb(125, 205, 50);
                            color: #fff;
                          
                          }
                          .deleteBtn{
                            background-color: rgb(255, 0, 43);
                            color: #fff;
                          }
                        }
                    }
                }
            }
        }
     }
 }

 //create content
.create_container{
    display:flex;
    width: 100%;
    justify-content: center;

    &_box{
        display:flex;
        justify-content: center;
        margin-top: 2rem;
        max-width: 100%;
        width: 70%;
        height: 50vh;

        #createForm{
            display: flex;
            flex-direction: column;
            max-width: 100%;
            width: 500px;
       
            label{
                font-size: 2rem;
                color: $color-primary;
                margin-bottom: .5rem;
            }
            input[type="text"], input[type="submit"]{
                font-size: 1.5rem;
                margin-bottom: 1rem;
                flex-shrink: 1;
                max-width: 100%;
                width: 200px;
                display:block;
                padding: 1rem 0;
                border-radius: 1rem;
                padding-left: .2rem;
               

                &:focus{
                    border-radius: 1rem;
                    border-color: $color-primary;
                    outline: none;
                }

            }
            input[type="text"]{
                border-color: $color-primary;
                color: crimson;
            }
            #createTask{
                align-self: flex-end;
                width: 100px;
                padding: 1rem;
                cursor: pointer;
                margin-top:1.5rem;
                text-transform: uppercase;
                background-color: crimson;
                color: #fff;
                border-color:  crimson;
                font-family: $font-family-grill;
                
                &:hover{
                    transform: translateY(2px);
                    letter-spacing: 1px;
                    transition-duration: .2 ease;
                }
            
            }
            textarea{
                resize: none;
                border-radius: 1rem;
                padding-left: .5rem;
                padding-top: .5rem;
                border: 2px solid $color-bg-reg;
                outline: none;
                font-size: 2rem;
            }
        }
    }
}

 